[
  {rabbit, [
    {cluster_nodes, {['rabbit@scrumr1-controller-2', 'rabbit@scrumr1-controller-3', 'rabbit@scrumr1-controller-4'], disc}},
    {cluster_partition_handling, autoheal},
    {collect_statistics_interval, 30000},
    {default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
    {default_vhost, <<"/">>},
    {disk_free_limit, 5000000},
    {log_levels, [{connection,info}]},
    {mnesia_table_loading_timeout, 10000},
    {tcp_listen_options, [
      binary,
      {packet, raw},
      {reuseaddr, true},
      {backlog, 128},
      {nodelay, true},
      {exit_on_close, false},
      {keepalive, true}
    ]}
  ]},
  {kernel, [
    {inet_default_connect_options, [{nodelay,true}]},
    {net_ticktime, 10}
  ]}
].

